.left_container_side {
    display: flex;
    flex-direction: column;
    width: 14rem;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: #fff;
    height: 100%;
    height: auto;
    border-right: 1px solid rgba(0, 0, 0, .2);

}

.left_side_list {
    display: flex;
    width: 67%;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
}


.left_side_list li {
    cursor: pointer;

    font-weight: 500;
    height: 3rem;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.adjust_img {
    z-index: 1;
    margin-left: -30px;
}

.remove_left_link_style {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;

}

.Public_Span {
    display: flex;

    width: 67%;
    font-weight: 500;
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
}

.public_lists {
    width: 67%;
    display: flex;
    flex-direction: column;
    list-style: none;

}

.public_lists li {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.Question_with_img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.Question_with_img img {
    z-index: 10;
}


.active {
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}


@media screen and (max-width: 414px) {
    .left_container_side {
        transform: translateX(-100%);
        z-index: 10;
        height: 100%;
    }
}